@font-face {
    font-family: "Loew";
    src: url("./ArbFONTS-Loew-Next-Arabic-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Loew";
    src: url("./ArbFONTS-Loew-Next-Arabic-Medium.woff2") format("woff2");
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Loew";
    src: url("./ArbFONTS-Loew-Next-Arabic-Light.woff2") format("woff2");
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alexandria";
    src: url("./Alexandria-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alexandria";
    src: url("./Alexandria-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "Alexandria", sans-serif !important;
}
footer {
    font-family: "Loew", sans-serif !important;
}
